
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<form id ="frm">
    @Html.Action("GridViewProductsPartial")
</form>


@section script{
    <script type="text/javascript">

        var updateGridProduct;
        var cancelGridProduct;
        var comboBoxSupplierInit;
        var comboBoxCategoryInit;
        var comboBoxSupplierValueChanged;
        var comboBoxCategoryValueChanged;

        // Hidden kontrollerin validationi icin gerekli
        // $(function(){}) icine koyulmamasi gerek !
        $.validator.setDefaults({
            ignore: ""
        });

        $(function () {

            var form = $('#frm');

            updateGridProduct = function (grid) {

                PrepareValidationScripts(); 
                var validator = $.data(form[0], 'validator');

                if (ASPxClientEdit.ValidateEditorsInContainer(grid.GetMainElement()) && validator.form() ) {
                    grid.UpdateEdit();
                }

            };

            cancelGridProduct = function(grid) {
                grid.CancelEdit();
            };

            comboBoxSupplierInit = function (s, e) {

                var item = $('#SupplierId');
                if (item) {
                    s.SetValue(item.val());
                }
            };

            comboBoxCategoryInit = function (s, e) {
                var item = $('#CategoryId');
                if (item) {
                    s.SetValue(item.val());
                }
            };

            comboBoxSupplierValueChanged = function (s, e) {
                $('#SupplierId').val(s.GetValue());
            };

            comboBoxCategoryValueChanged = function(s, e) {
                $('#CategoryId').val(s.GetValue());
            };

            function PrepareValidationScripts() {

                if (form.executed)
                    return; 
                form.removeData("validator");
                $.validator.unobtrusive.parse(document);
                form.executed = true;
            };

        })

    </script>
}
