
@{
    ViewBag.Title = "GridCustomButton";
}

<h2>GridCustomButton</h2>


@Html.Action("GridViewCustomButtonPartial")

@section script{
    <script type="text/javascript">

        var emailClicked;

        $(function() {
            emailClicked = function(s, e) {
                if (e.buttonID == 'btnEmail') {

                    var key = s.GetRowKey(e.visibleIndex);

                    window.open('/?parameter=' + key, '_blank');
                }

                if (e.buttonID == 'btnEmail2') {
                    s.StartEditRow(e.visibleIndex);
                }


            }
        })
    </script>
}