
@{
    ViewBag.Title = "Index";
}

<h2>GridJsProperties</h2>


@Html.Action("GridViewPartialJsProperties")

@section script{
    <script type="text/javascript">
        var endCallBack;

        $(function() {
            endCallBack = function(s, e) {
                if (s.cpServerMesaj) {
                    alert(s.cpServerMesaj);
                }
            }
        })
    </script>
}
