
@{
    ViewBag.Title = "Index";
}

<h2>PopUp</h2>

@Html.Action("ComboBoxSupplierPartial")

<br /><br />

@*@Html.Action("GridViewPartialPopup")*@


@Html.DevExpress().PopupControl(settings => {
    settings.Name = "PopupControlGrid";

    settings.CallbackRouteValues = new { Controller = "PopUp", Action = "GridViewPartialPopup" };

    settings.AllowResize = true;
    settings.ShowHeader = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.CloseOnEscape = false;
    settings.Modal = true;

    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;

    settings.ClientSideEvents.BeginCallback = "function (s,e) { beginCallBack(s,e);}";
    settings.ClientSideEvents.EndCallback = "function (s,e) { endCallBack(s,e);}";

}).GetHtml()

@Html.DevExpress().LoadingPanel(
    settings =>
    {
        settings.Name = "loadingPanelTest";
        settings.Modal = false;
        settings.ContainerElementID = "ComboBoxSupplier";
        settings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
    }).GetHtml()

@section script{
    <script type="text/javascript">

        var valueChangedCombo, endCallBack, beginCallBackGrid;
        var SupplierId = 0;

        $(function () {

            valueChangedCombo = function (s, e) {

                SupplierId = s.GetValue();

                //GridViewPopup.PerformCallback({ SupplierId: s.GetValue() })
                PopupControlGrid.PerformCallback({ SupplierId: SupplierId });
            }

            beginCallBack = function (s, e) {
                loadingPanelTest.Show()
            }

            endCallBack = function (s, e) {
                s.Show();
                loadingPanelTest.Hide()
            }

            beginCallBackGrid = function (s, e) {

                if (e.command === 'STARTEDIT' || e.command === 'CANCELEDIT' || e.command === 'UPDATEEDIT' ) {
                    e.customArgs["SupplierId"] = SupplierId ;
                }

                console.log(e);
            }

        })

    </script>
}
